/*Default css settings*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/*This is the html scroll behaviour*/

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* Nav section styling */

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 99;
    font-family: "openSans", sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #A2A2A2;
    padding: 15px 0;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.navbar .logo a {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #003C72;
    transition: all .3s ease;
}

.navbar.sticky a span {
    color: #212221;
    transition: all 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #003C72;
}


/*menu btn styling*/

.menu-btn {
    color: #212221;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/* home section styling*/

.home {
    display: flex;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='860' preserveAspectRatio='none' viewBox='0 0 1440 860'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath5441%26quot%3b)' fill='none'%3e%3crect width='1440' height='860' x='0' y='0' fill='url(%23SvgjsLinearGradient5442)'%3e%3c/rect%3e%3ccircle r='143.335' cx='51' cy='39.25' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='143.335' cx='612.12' cy='665.5' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='152.025' cx='667.35' cy='10.53' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='275.125' cx='256.19' cy='729.65' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='158.47' cx='1357.8' cy='46.71' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='126.03' cx='994.31' cy='691.56' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='87.805' cx='999.4' cy='403.58' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='261.895' cx='88.89' cy='643.57' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='194.905' cx='562.41' cy='70' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='219.105' cx='461.02' cy='696.98' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='251.445' cx='716.55' cy='347.5' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='253.56' cx='20.63' cy='772.74' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='98.665' cx='992.14' cy='782.88' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='117.235' cx='185.73' cy='699.22' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='121.51' cx='668.78' cy='89.21' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='145.165' cx='1070.61' cy='389.75' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='142.595' cx='706.41' cy='164.33' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='274.265' cx='768.02' cy='439.85' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='282.48' cx='610.06' cy='729.02' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='122.61' cx='980.67' cy='656.77' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='178.575' cx='750.95' cy='284.24' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='239.875' cx='1214.79' cy='527.03' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='242.13' cx='1359.68' cy='450.67' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='172' cx='684.76' cy='481.43' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='105.765' cx='1298.14' cy='94.99' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='224.2' cx='1421.08' cy='326.69' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='262.245' cx='322.97' cy='527.25' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='275.315' cx='926.58' cy='601.94' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='262.425' cx='1343.61' cy='111.47' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='266.345' cx='1071.12' cy='667.3' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='131.48' cx='694.53' cy='681.94' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='188.005' cx='973.49' cy='822.08' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='77.23' cx='506.8' cy='213.49' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='202.75' cx='330.53' cy='99.96' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='253.945' cx='1001.09' cy='720.05' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='120.56' cx='775.18' cy='518.12' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='87.045' cx='178.98' cy='384.81' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='195.44' cx='1412.64' cy='833.82' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='210.885' cx='1131.16' cy='346.2' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='144.525' cx='1299.39' cy='512.22' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath5441'%3e%3crect width='1440' height='860' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='10.07%25' y1='-16.86%25' x2='89.93%25' y2='116.86%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5442'%3e%3cstop stop-color='rgba(49%2c 142%2c 239%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(196%2c 208%2c 250%2c 0.92)' offset='0.93'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
    font-family: 'openSans', sans-serif;
    padding-bottom: -90px !important;
    line-height: 4rem;
}

.home_icons {
    display: inline-block;
    font-size: 2rem;
    margin-top: 1rem;
    color: #FFFFFF;
    align-items: center;
}

#max-width {
    margin-left: 19px;
}

.home .max-width {
    margin: auto 0 auto 0px;
    padding-bottom: 0px;
}

.home .home-content .text-1 {
    font-size: 30px;
}

.home .home-content .text-2 {
    font-size: 80px;
    font-weight: 600;
    /* margin-left: -3px; */
}

.home .home-content .text-3 {
    font-size: 45px;
    /* margin: 6px 0; */
}

.home .home-content .text-3 span {
    color: #003C72;
    font-weight: 600;
}


/*all similar content styling code*/

section {
    padding: 40px 0;
    background-color: #FFFFFF;
}

.project,
.about,
.contact,
.service footer {
    font-family: 'poppins', sans-serif;
    color: #000000;
}

.project .project-content,
.about .about-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'openSans', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #003C72;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #003C72;
    padding: 5px;
    background: whitesmoke;
    transform: translateX(-50%);
}


/*projects section styling*/

.project .title::after {
    content: "Projects I have done";
}

.project .max-width .project-content .card {
    width: calc(33% - 20px);
    background-color: grey;
    color: antiquewhite;
}

.project .project-content.card {
    text-align: center;
    margin: 20px 0;
    padding: 50px 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.project .project-content .card:hover {
    color: lightblue;
}


/*about section styling*/

.about .title::after {
    content: "who i am";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 70%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p {
    text-align: justify;
    font-size: 20px;
}

.about .about-content .right a {
    display: inline-block;
    background-color: #003C72;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #003C72;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: #003C72;
    background: none;
}


/*contact section styling*/

.contact .title::after {
    content: "get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icon {
    margin: 10px 0;
    font-size: 25px;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #003C72;
}

.contact .contact-content .info .head {
    font-weight: 600;
}

.contact .contact-content .info .sub-title {
    color: rgb(141, 138, 131);
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'poppins', sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #003C72;
    background-color: #003C72;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: #003C72;
    background: none;
}


/*footer section styling*/

footer {
    background: #A2A2A2;
    padding: 20px 0;
    color: whitesmoke;
    text-align: center;
}

footer span a {
    color: #003C72;
}

footer span a:hover {
    background: none;
    color: whitesmoke;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #003C72;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: whitesmoke;
    z-index: 9999;
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}


/*responsive media query start*/

@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
        line-height: 3.6rem;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .max-width {
        padding: 5px 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column,
    .contact .contact-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 22px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
}

@media (max-width: 500px) {
    #home {
        height: 10vh;
        line-height: 5rem;
    }
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 25px;
    }
    .about .about-content .column {
        width: 100%;
    }
}